html{
	overflow-y:scroll;
	height:100%;
	margin-bottom:1px;
}

body{
	background:#000000;
	font-size:10pt;
	color:#FFFFFF;
	line-height:150%;
	margin:0px;
}

.frame{
	width:650px;
	margin:30px auto 30px auto;
}

.clear{clear:left}


h1{font-size:1.2em}
b {color:#FF0000}
a {color:#0055E3; text-decoration:none;}
a:visited {color:#0055E3}
a:hover {text-decoration:underline;}
hr {border-width:1px 0px 0px 0px; border-style:dashed; border-color:gray; height:5px; color:#ffffff; margin:20px 0px 20px 0px;}





/* �g�����e�[�u�� */
.fraud-table{
	border:1px #C8C8C8 solid;
	border-collapse:collapse;
	border-spacing:0;
}

.fraud-table caption{
	padding:5px;
	text-align:left;
	font-weight:bold;
	margin:20px 0px 0px 0px;
}

.fraud-table .item-name{
	background:#323232;
	white-space:nowrap;
}

.fraud-table td {
	padding: 5px;
	border: 1px #C8C8C8 solid;
	border-width: 0 0 1px 1px;
}
